@charset "UTF-8";
.m-appSel-wrap {
		background-color:rgba(0,0,0,.3);
		justify-content:center;
		align-items:center;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:none;
		padding:15px;
	}
	.m-appSel {
		width:100%;
  		max-width:300px;
  		background-color:#ffffff;
  		border-radius:10px;
  		overflow:hidden;
  		box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
	}
	.m-header {
		width:100%;
		height:70px;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.m-header-title {
		font-size: 20px;
	    font-weight: 700;
	    letter-spacing: -3px;
	    text-align: center;
	}
	.m-body {
		width:80%;
		padding: 0 30px;
	}
	.m-search {
		height:40px;
		margin-bottom: 10px;
	}
	.s-form {
		position : relative;
	}
	.s-select {
		height: 35px;
		width: 60px;
		border-radius: 4px;
		border: solid 1px rgb(190, 190, 190);
	}
	.s-input {
		display: inline-flex;
		height: 33px;
		width: 172px;
		border-radius: 4px;
		border: solid 1px rgb(190, 190, 190);
	}
	.s-text {
		width: 140px;
		border: none;
	}
	.i-search {
		font-size: 17px;
		font-family: FontAwesome;
		border: none;
		cursor : pointer;
		background-color : transparent;
		color: rgb(51, 51, 51);
		position: absolute;
		right : 10px;
		top : 16px;
		transform : translatey(-50%);
	}
	.m-list {
		border-radius: 4px;
		border: solid 1px rgb(190, 190, 190);
		overflow-y:auto;
		height:150px;
	}
	.m-footer {
		width:100%;
		height:50px;
	}
	.m-btn {
		display:inline-flex;
		width:35%;
		height:80%;
		float:left;
		justify-content:center;
		align-items:center;
		cursor:pointer;
		border-radius: 4px;
		margin: 25px 0;
		font-size: 14px;
	}
	.m-btn.confirm {
		color:#ffffff;
		background-color: rgb(117, 144, 194);
		border: solid 1px rgb(117, 144, 194);
		padding: 0 1.5px;
		margin-left: 30px;
		margin-right: 10px;
	}
	.m-btn.cancel {
		border: solid 1px rgb(190, 190, 190);
		padding: 0 1.5px;
		margin-right: 30px;
		margin-left: 10px;
	}