@charset "UTF-8";

body, div, h1, textarea, input, button, a, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
  }

#coreDiv{
    width: 100%;
    background-color:rgb(255, 255, 255);
}

#marging{
	width: 220px;
	height: 100%;
	float: left;
}

#position{
	position: relative;
	top: 50px;
	width: 100%;
	height: 100%;
}

#contents{
	position:absolute;
	margin-top: 100px;
	margin-right: 200px;
    margin-left: 420px;
	margin-bottom: 400px;
    width: 68%;
	background-color:rgb(255, 255, 255);
}


.WriteDiv{
    height: 20px;
    width: 880px;
    float: left;
}


.dateDiv{
  height: 20px;
  width: 150px;
  float: right;
}


.optionBtnDiv{
    height: 32px;
    width: 168px;
    float: right;
  }


.optionBtnDiv #upload{
    margin-left: 3px;
    margin-right: 3px;
    width: 80px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid rgb(147, 169, 209);
    background-color: rgb(147, 169, 209);
    font-size: 15px;
    font-weight:bold;
    float: right;
    color: white;
}

.optionBtnDiv #delete{
    width: 80px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid rgb(147, 169, 209);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight:bold;
    float: right;
    color: black;
}

#community-TileDiv{
    float: left;
    border: 1px solid rgb(158, 158, 158);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 100%;
    padding : 3px 3px 3px 20px;
}

#community-ContentDiv{
    border: 1px solid rgb(158, 158, 158);
    overflow:hidden;
    min-height : 500px;
    height:auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding : 30px 5px 5px 20px;
}

#vote-body-div{
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid rgb(158, 158, 158);
    width : 400px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.voteBox{
    margin: 1px 10px 0px 3px;
    width : 400px;
    height: 30px;
}


.voteTextBox{
    padding-left: 10px;
    margin: 1px 5px 0px 3px;
    border: 1px solid rgb(158, 158, 158);
    width : 310px;
    height: 25px;
    float: left;
}

.voteSelect{
    text-align: center;
    border-radius: 5px;
    margin: 2px 5px 0px 5px;
    border: 2px solid rgb(147, 169, 209);
    height: 23px;
    width : 50px;
    float: left;
}

.voteSelectBtn{
    text-align: center;
    border-radius: 5px;
    margin: 2px 5px 0px 5px;
    border: 2px solid rgb(147, 169, 209);
    background-color: rgb(147, 169, 209);
    color: white;
    height: 23px;
    width : 50px;
    float: left;
}

#vote-body-div #voteEndDiv{
    
    width: 80px;
    margin: auto;
}

#vote-body-div #andVoteButton{
    margin-top: 8px;
    margin-bottom: 15px;
    width: 80px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid rgb(147, 169, 209);
    background-color: rgb(147, 169, 209);
    font-size: 15px;
    font-weight:bold;
    color: white;
}

#replyDiv{
    margin-top: 15px;
    margin-bottom: 10px;
    height: 80px;
    width: 100%;
}

#inputTextDiv{
    margin-top: 8px;
    width: 90%;
    height: 25px;
    float: left;
}

#inputTextDiv input{
    border: 1px solid rgb(158, 158, 158);
    width: 100%;
    height: 25px;
}

#insertBtnDiv{
    margin-top: 5px;
    width: 8%;
    height: 32px;
    float: right;
}

#insertBtnDiv button{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid rgb(147, 169, 209);
    background-color: rgb(147, 169, 209);
    font-size: 15px;
    font-weight:bold;
    color: white;
    
}

#listTable {
    width: 100%;
	border-collapse: collapse;
	border-spacing: 1px;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin : 10px 10px;
  }

#listTable td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
  }

  .contentTd{
	width: 70%;
  }