<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalMapper">
	<resultMap type="AppForm" id="appFormResultMap">
		<id property="formNo" column="FORM_NO"/>
		<result property="formName" column="FORM_NAME"/>
		<result property="formContent" column="FORM_CONTENT"/>
	</resultMap>
	<select id="selectAllForm" resultMap="appFormResultMap"><!-- 문서 양식 전체 조회 -->
		SELECT * FROM APP_FORM
	</select>
	<select id="selectForm" resultMap="appFormResultMap"><!-- 문서 양식 조회 -->
		SELECT * FROM APP_FORM WHERE FORM_NO = #{formNo}
	</select>
	<insert id="insertDoc"><!-- 문서 등록 -->
		INSERT INTO APP_DOC VALUES(SEQ_DOC.NEXTVAL, #{memNum}, #{formNo}, #{docTitle}, #{docContent}, DEFAULT, #{docDate}, #{leaveType}, #{leaveStart}, #{leaveEnd}, #{leaveTime}, #{leaveDay}, #{leaveLeft}, #{leaveApply})
	</insert>
	<insert id="insertApp"><!-- 결재자 등록 -->
		INSERT INTO APPROVAL VALUES(SEQ_APP.NEXTVAL, SEQ_DOC.CURRVAL, #{memNum}, #{appLevel}, NULL, DEFAULT, NULL)
	</insert>
	<insert id="insertRef"><!-- 참조자 등록 -->
		INSERT INTO APP_REF VALUES(SEQ_REF.NEXTVAL, SEQ_DOC.CURRVAL, #{memNum})
	</insert>
	<insert id="insertFile"><!-- 파일 등록 -->
		INSERT INTO APP_FILE VALUES(SEQ_FILE.NEXTVAL, SEQ_DOC.CURRVAL, #{fileName}, #{fileReName}, #{filePath})
	</insert>
	<select id="selectOneLeaveDoc" resultType="string"><!-- 잔여 연차 조회 -->
		SELECT * FROM(SELECT LEAVE_LEFT FROM APP_DOC WHERE MEM_NUM = #{memberNum} AND FORM_NO = 3 AND LEAVE_TYPE IN('연차', '반차') AND SUBSTR(DOC_DATE, 1, 4) = TO_CHAR(SYSDATE, 'YYYY') ORDER BY DOC_NO DESC) WHERE ROWNUM = 1
	</select>
</mapper>