<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalMapper">
	<insert id="insertDoc"><!-- 문서 등록 -->
		INSERT INTO APP_DOC VALUES('D'||SEQ_DOC.NEXTVAL, #{memNum}, 1, #{docTitle}, #{docContent}, DEFAULT, #{docDate}, NULL, NULL, NULL, NULL, NULL)
	</insert>
	<insert id="insertApp"><!-- 결재자 등록 -->
		INSERT INTO APPROVAL VALUES(SEQ_APP.NEXTVAL, 'D'||SEQ_DOC.CURRVAL, #{memNum}, #{appLevel}, NULL, DEFAULT, NULL)
	</insert>
	<insert id="insertRef"><!-- 참조자 등록 -->
		INSERT INTO APP_REF VALUES(SEQ_REF.NEXTVAL, 'D'||SEQ_DOC.CURRVAL, #{memNum})
	</insert>
</mapper>