<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="AttendanceMapper">
  	<resultMap type="Attendance" id="attendanceResultMap">
  		<id property="attNo" column="ATT_NO"/>
  		<result property="attDate" column="ATT_DATE"/>
  		<result property="attStrTime" column="ATT_STR_TIME"/>
  		<result property="attFinTime" column="ATT_FIN_TIME"/>
  		<result property="attTotalTime" column="ATT_TOTAL_TIME"/>
  		<result property="attStatus" column="ATT_STATUS"/>
  		<result property="memNum" column="MEM_NUM"/>
  	</resultMap>
  	
  	<!-- 출근 등록 -->
  	<update id="insertAttendance">           
        UPDATE ATTENDANCE SET ATT_STR_TIME = TO_CHAR(SYSDATE, 'HH24:MI:SS'), ATT_STATUS = #{attStatus } WHERE  ATT_NO = (SELECT MAX(ATT_NO) FROM ATTENDANCE WHERE MEM_NUM = #{memNum})
  	</update>
  	
  	<!-- 퇴근 등록 / 총근무시간 -->
  	<update id="updateAttendance">           
        UPDATE ATTENDANCE SET ATT_FIN_TIME = TO_CHAR(SYSDATE, 'HH24:MI:SS'),ATT_TOTAL_TIME = (SELECT ROUND((TO_DATE(TO_CHAR(SYSDATE, 'HH24:MI:SS'),'HH24:MI:SS') - TO_DATE(ATT_STR_TIME, 'HH24:MI:SS'))*24,2) FROM ATTENDANCE WHERE ATT_NO = (SELECT MAX(ATT_NO) FROM ATTENDANCE WHERE MEM_NUM = #{memNum})) WHERE  ATT_NO = (SELECT MAX(ATT_NO) FROM ATTENDANCE WHERE MEM_NUM = #{memNum}) 
  	</update>
  	
  	<!-- 리스트 -->
  	<select id="selectAllList" resultMap="attendanceResultMap">
  		SELECT * FROM ATTENDANCE WHERE MEM_NUM = #{memNum} ORDER BY ATT_DATE DESC
  	</select>
  	<select id="selectListCount" resultType="_int"> 
		SELECT COUNT(*) FROM ATTENDANCE WHERE MEM_NUM = #{memNum}
	</select>
	
	<select id="selectAttendanceSearch" resultMap="attendanceResultMap">
	</select>
  </mapper>
