<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommnuityMapper">
	<resultMap type="Community" id="CommunityResultMap">
		<id property="comNo" column="COM_NO"/>
		<result property="memberNum" column="MEMBER_NUM"/>
		<result property="comDate" column="COM_DATE"/>
		<result property="comTitle" column="COM_TITLE"/>
		<result property="comContent" column="COM_CONTENT"/>
		<result property="comView" column="COM_VIEW"/>
		<result property="comImgName" column="COM_IMG_NAME"/>
		<result property="comImgRename" column="COM_IMG_RENAME"/>
		<result property="comImgPath" column="COM_IMG_PATH"/>
		<result property="somDelete" column="COM_DELETE"/>
		<result property="comVoteNo" column="COM_VOTE_NO"/>
	</resultMap>
	
<insert id="insertCommnuity">
	INSERT INTO COMMUNITY VALUES(SEQ_COM_NO.NEXTVAL ,#{memberNum } ,DEFAULT ,#{comTitle },#{comContent }, DEFAULT, #{comImgName}, #{comImgRename}, #{comImgPath},NULL,NULL)
</insert>

<select id="listCommnuity" resultMap="CommunityResultMap">
	SELECT * FROM COMMUNITY ORDER BY COM_DATE DESC
</select>
<select id="detailOneByNo" resultMap="CommunityResultMap">
	SELECT * FROM COMMUNITY WHERE COM_NO = #{comNo}
</select>
<delete id="deleltCommunity">
	DELETE FROM COMMUNITY WHERE COM_NO = #{comNo }
</delete>

<update id="viewCount">
	UPDATE COMMUNITY SET COM_VIEW = COM_VIEW+1 WHERE COM_NO = #{comNo}
</update>


<resultMap type="CommunityVote" id="CommunityVoteResultMap">
		<id property="comVoteNo" column="COM_VOTE_NO"/>
		<result property="comNo" column="COM_NO"/>
		<result property="cVoteSc1" column="C_VOTE_SC1"/>
		<result property="cVoteSc2" column="C_VOTE_SC2"/>
		<result property="cVoteSc3" column="C_VOTE_SC3"/>
		<result property="cVoteSc4" column="C_VOTE_SC4"/>
		<result property="cVoteText1" column="C_VOTE_S_TEXT1"/>
		<result property="cVoteText2" column="C_VOTE_S_TEXT2"/>
		<result property="cVoteText3" column="C_VOTE_S_TEXT3"/>
		<result property="cVoteText4" column="C_VOTE_S_TEXT4"/>
		<result property="cVoteSelect1" column="C_VOTE_SELECT1"/>
		<result property="cVoteSelect2" column="C_VOTE_SELECT2"/>
		<result property="cVoteSelect3" column="C_VOTE_SELECT3"/>
		<result property="cVoteSelect4" column="C_VOTE_SELECT4"/>
		<result property="cVoteState" column="C_VOTE_STATE"/>
	</resultMap>



<insert id="insertCommnuityVote">
	INSERT INTO C_VOTE VALUES(SEQ_CVOTE_NO.NEXTVAL ,SEQ_COM_NO.CURRVAL, DEFAULT, #{cVoteText1}, DEFAULT, DEFAULT, #{cVoteText2}, DEFAULT, DEFAULT, #{cVoteText3}, DEFAULT, DEFAULT, #{cVoteText4}, DEFAULT, DEFAULT)
</insert>

<select id="CommnuityVoteView" resultMap="CommunityVoteResultMap">
	SELECT * FROM C_VOTE WHERE COM_NO= #{comNo}
</select>

<delete id="deleteCommnuityVote">
	DELETE FROM C_VOTE WHERE COM_NO = #{comNo }
</delete>

<update id="updateEndCommnuityVote">
	UPDATE C_VOTE SET C_VOTE_STATE = 2 WHERE COM_NO = #{comNo}
</update>

<update id="updateCountCVote">
	UPDATE C_VOTE SET C_VOTE_STATE = 1, <if test="cSelect == 1"> C_VOTE_SELECT1 = C_VOTE_SELECT1+1 </if> <if test="cSelect == 2">C_VOTE_SELECT2 =C_VOTE_SELECT2+1 </if><if test="cSelect == 3">C_VOTE_SELECT3 = C_VOTE_SELECT3+1,</if><if test="cSelect == 4">C_VOTE_SELECT4 =C_VOTE_SELECT4+1</if>WHERE COM_NO= #{comNo}
</update>

<resultMap type="CommunityVoteSelect" id="CommunityVoteSelectResultMap">
		<id property="comVoteNo" column="COM_VOTE_NO"/>
		<result property="comNo" column="COM_NO"/>
		<result property="memberNum" column="MEMBER_NUM"/>
		<result property="cSelectTrue" column="C_SELECT_TRUE"/>
		<result property="cSelect" column="C_SELECT"/>
	</resultMap>

<select id="selectCommnuityVote" resultMap="CommunityVoteSelectResultMap">
	SELECT * FROM C_VOTE_MEMBER WHERE COM_NO= #{comNo}
</select>

<insert id="insertCVoteSelect">
	INSERT INTO C_VOTE_MEMBER VALUES(#{comVoteNo}, #{comNo}, #{memberNum}, 1, #{cSelect} )
</insert>

<delete id="deleteCVoteMember">
	DELETE FROM C_VOTE_MEMBER WHERE COM_NO = #{comNo }
</delete>


</mapper>