<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
	<resultMap type="Notice" id="NoticeResultMap">
		<id property="noticeNo" column="NOTICE_NO"/>
		<result property="memberNum" column="MEMBER_NUM"/>
		<result property="noticeDate" column="NOTICE_DATE"/>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeContent" column="NOTICE_CONTENT"/>
		<result property="noticeView" column="NOTICE_VIEW"/>
		<result property="noticeImgName" column="NOTICE_IMG_NAME"/>
		<result property="noticeImgRemane" column="NOTICE_IMG_RENAME"/>
		<result property="noticeImgPath" column="NOTICE_IMG_PATH"/>
		<result property="noticeDelete" column="NOTICE_DELETE"/>
		<result property="noticeVoteno" column="NOTICE_VOTE_NO"/>
		<collection property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultMap">
  		<id property="memberNum" column="MEMBER_NUM"/>
  		<result property="memberName" column="MEMBER_NAME"/>
  		<result property="division" column="DIV_NAME"/>
  		<result property="rank" column="RANK"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="phone" column="PHONE"/>
  		<result property="mail" column="MAIL"/>
  		<result property="hireDate" column="HIRE_DATE"/>
  		<result property="retireDate" column="RETIRE_DATE"/>
  		<result property="birth" column="BIRTH"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="bank" column="BANK"/>
  		<result property="password" column="PASSWORD"/>
  		<result property="gender" column="GENDER"/>
  		<result property="photo" column="PHOTO"/>
  		<result property="breakTotal" column="BREAK_TOTAL"/>
  	</resultMap>
  	
  	<update id="countViewNotice">
		UPDATE NOTICE SET NOTICE_VIEW = NOTICE_VIEW+1 WHERE NOTICE_NO = #{noticeNo}
	</update>

	<select id="selectClistCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
	</select>
	
	<select id="selectOneNotice" resultMap="NoticeResultMap">
		SELECT * FROM NOTICE JOIN MEMBER ON NOTICE.MEMBER_NUM = MEMBER.MEMBER_NUM WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<select id="noticeList" resultMap="NoticeResultMap">
		SELECT * FROM NOTICE JOIN MEMBER ON NOTICE.MEMBER_NUM = MEMBER.MEMBER_NUM ORDER BY NOTICE_DATE DESC
	</select>
	
	
	
	<insert id="insertNotice">
		INSERT INTO COMMUNITY VALUES(SEQ_NOTICE_NO.NEXTVAL ,#{memberNum } ,DEFAULT ,#{noticeTitle },#{noticeContent }, DEFAULT, #{noticeImgName}, #{noticeImgRemane}, #{noticeImgPath},NULL,NULL)
	</insert>
	
	<update id="updateNotice">
		UPDATE NOTICE SET NOTICE_TITLE = #{noticeTitle }, NOTICE_CONTENT = #{noticeContent }, NOTICE_IMG_NAME =#{noticeImgName },  NOTICE_IMG_RENAME = #{noticeImgRemane }, NOTICE_IMG_PATH = #{noticeImgPath }
	</update>
	
	<select id="selectNoticeSearchCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE JOIN MEMBER ON NOTICE.MEMBER_NUM = MEMBER.MEMBER_NUM
	<if test ="searchCondition.toString()=='writer'">
		WHERE MEMBER_NAME LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='title'">
		WHERE NOTICE_TITLE LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='contents'">
		WHERE NOTICE_CONTENT LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='all'">
		WHERE MEMBER_NAME LIKE '%'||#{searchValue} ||'%'
		OR NOTICE_TITLE LIKE '%'||#{searchValue} ||'%'
		OR NOTICE_CONTENT LIKE '%'||#{searchValue} ||'%'
	</if>
	</select>
	
	<select id="searchNotice" resultMap="NoticeResultMap">
		SELECT * FROM NOTICE JOIN MEMBER ON NOTICE.MEMBER_NUM = MEMBER.MEMBER_NUM
	<if test ="searchCondition.toString()=='writer'">
		WHERE MEMBER_NAME LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='title'">
		WHERE NOTICE_TITLE LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='contents'">
		WHERE NOTICE_CONTENT LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='all'">
		WHERE MEMBER_NAME LIKE '%'||#{searchValue} ||'%'
		OR NOTICE_TITLE LIKE '%'||#{searchValue} ||'%'
		OR NOTICE_CONTENT LIKE '%'||#{searchValue} ||'%'
	</if>
		ORDER BY NOTICE_DATE DESC
	</select>
	
	<!-- 홈 - 공지사항 -->
	<select id="selectListHomeNotice" resultMap="NoticeResultMap">
		SELECT * FROM NOTICE WHERE ROWNUM <![CDATA[<]]> 6 ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- admin 넥사크로 리스트 보기 -->
	<select id="selectAdminList" resultMap="NoticeResultMap">
		SELECT * FROM NOTICE JOIN MEMBER ON NOTICE.MEMBER_NUM = MEMBER.MEMBER_NUM ORDER BY NOTICE_DATE DESC
	</select>
	
		<!-- admin 넥사크로 검색 -->
	<select id="selectAdminSearch" resultMap="NoticeResultMap">
		SELECT * FROM NOTICE JOIN MEMBER ON NOTICE.MEMBER_NUM = MEMBER.MEMBER_NUM
		<if test ="searchCondition.toString()=='writer'">
		WHERE MEMBER_NAME LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='title'">
		WHERE NOTICE_TITLE LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='contents'">
		WHERE NOTICE_CONTENT LIKE '%'||#{searchValue} ||'%'
	</if>
	<if test ="searchCondition.toString()=='all'">
		WHERE MEMBER_NAME LIKE '%'||#{searchValue} ||'%'
		OR NOTICE_TITLE LIKE '%'||#{searchValue} ||'%'
		OR NOTICE_CONTENT LIKE '%'||#{searchValue} ||'%'
	</if>
	</select>
</mapper>