<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ProjectMapper">
  	<resultMap type="Project" id="projectResultMap">
  		<id 	property="projectNo"		column="PROJECT_NO"/>
  		<result property="projectTitle"		column="PROJECT_TITLE"/>
  		<result property="projectMade"		column="MEMBER_NAME"/>
  		<result property="projectMadeNum"	column="MEMBER_NUM"/>
  		<result property="pStartDate"		column="P_START_DATE"/>
  		<result property="pEndDate"			column="P_END_DATE"/>
  		<result property="pStatus"			column="P_STATUS"/>
  		<result property="projectContent"	column="PROJECT_CONTENT"/>
  	</resultMap>
  	<resultMap type="WorkChart" id="workChartResultMap">
  		<result property="projectNo"		column="PROJECT_NO"/>
  		<result property="memNum"			column="MEM_NUM"/>
  		<result property="projectWriter"	column="PROJECT_WRITER"/>
  		<result property="wpRate"			column="WP_RATE"/>
  	</resultMap>
  	<select id="selectAllProject" resultMap="projectResultMap">
  		SELECT DISTINCT PROJECT_NO, PROJECT_TITLE, MEMBER_NAME, P_START_DATE, P_END_DATE, P_STATUS, PROJECT_CONTENT FROM PROJECT JOIN PARTICIPANT USING(PROJECT_NO) JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE (PROJECT_MADE= #{projectMade} OR MEM_NUM = #{projectMade})
  		<if test="pStatus != 'A'.toString()">
  			AND P_STATUS = #{pStatus}
  		</if>
  		ORDER BY P_STATUS DESC, PROJECT_NO DESC 
  	</select>
  	<select id="selectOneCount" resultType="_int">
  		SELECT COUNT(DISTINCT PROJECT_NO) FROM PROJECT JOIN PARTICIPANT USING(PROJECT_NO) JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE (PROJECT_MADE= #{projectMade} OR MEM_NUM = #{projectMade})
  		<if test="pStatus != 'A'.toString()">
  			AND P_STATUS = #{pStatus}
  		</if>
  	</select>
  	<select id="selectOneSearchCount" resultType="_int">
  		SELECT COUNT(DISTINCT PROJECT_NO) FROM PROJECT JOIN PARTICIPANT USING(PROJECT_NO) JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE (PROJECT_MADE= #{memberNum} OR MEM_NUM = #{memberNum})
  		<if test="type != 'A'.toString()">
  			AND P_STATUS = #{type}
  		</if>
  		<if test="searchCondition.toString() == 'docTitle'">
  			AND PROJECT_TITLE LIKE '%' || #{searchValue} || '%'
  		</if>
  	</select>
  	<select id="selectSearchProject" resultMap="projectResultMap">
  		SELECT DISTINCT PROJECT_NO, PROJECT_TITLE, MEMBER_NAME, P_START_DATE, P_END_DATE, P_STATUS, PROJECT_CONTENT FROM PROJECT JOIN PARTICIPANT USING(PROJECT_NO) JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE (PROJECT_MADE= #{memberNum} OR MEM_NUM = #{memberNum})
		<if test="type != 'A'.toString()">
  			AND P_STATUS = #{type}
  		</if>
		<if test="searchCondition.toString() == 'docTitle'">
  			AND PROJECT_TITLE LIKE '%' || #{searchValue} || '%'
  		</if>
  		ORDER BY P_STATUS DESC, PROJECT_NO DESC 
  	</select>
  	<select id="selectOneProject" resultMap="projectResultMap" >
  		 SELECT PROJECT_NO, PROJECT_TITLE, MEMBER_NAME, P_START_DATE, P_END_DATE, P_STATUS, PROJECT_CONTENT FROM PROJECT JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE PROJECT_NO = #{projectNo}
  	</select>
  	<select id="selectOneProjectDetail" resultMap="projectResultMap" >
  		SELECT PROJECT_NO, PROJECT_TITLE, MEMBER_NUM, MEMBER_NAME, P_START_DATE, P_END_DATE, P_STATUS, PROJECT_CONTENT FROM PROJECT JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE PROJECT_NO = #{projectNo}
  	</select>
  	<resultMap type="Member" id="memberResultMap">
  		<id property="memberNum" column="MEMBER_NUM"/>
  		<result property="memberName" column="MEMBER_NAME"/>
  		<result property="division" column="DIVISION"/>
  		<result property="rank" column="RANK"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="phone" column="PHONE"/>
  		<result property="mail" column="MAIL"/>
  		<result property="hireDate" column="HIRE_DATE"/>
  		<result property="retireDate" column="RETIRE_DATE"/>
  		<result property="birth" column="BIRTH"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="bank" column="BANK"/>
  		<result property="password" column="PASSWORD"/>
  		<result property="gender" column="GENDER"/>
  		<result property="photo" column="PHOTO"/>
  		<result property="breakTotal" column="BREAK_TOTAL"/>
  	</resultMap>
  	<select id="selectAllParticipant" resultMap="memberResultMap">
  		SELECT MEMBER_NUM, DIV_NAME AS DIVISION, RANK_NAME AS RANK, MEMBER_NAME FROM MEMBER JOIN PARTICIPANT ON MEM_NUM = MEMBER_NUM JOIN DIVISION ON DIVISION = DIV_CODE JOIN RANK ON RANK = RANK_CODE WHERE PROJECT_NO = #{projectNo }
  	</select>
  	<insert id="insertProject">
  		INSERT INTO PROJECT VALUES(
  			SEQ_PROJECT_NO.NEXTVAL,
  			#{projectTitle},
  			#{projectMade},
  			#{pStartDate},
  			#{pEndDate},
  			DEFAULT,
  			#{projectContent}
  		)
  	</insert>
  	<insert id="insertParticipant">
  		INSERT INTO PARTICIPANT VALUES(#{memberNum},
  		<if test="projectNo == 0">
	  		SEQ_PROJECT_NO.CURRVAL)
  		</if>
  		<if test="projectNo > 0">
	  		#{projectNo})
  		</if>
  	</insert>
  	
  	<select id="selectOneChart" resultType="_int">
  		SELECT COUNT(*) FROM WORK_CHART WHERE PROJECT_NO = #{projectNo} AND MEM_NUM = #{memNum}
  	</select>
  	<select id="selectListChart" resultMap="workChartResultMap">
  	 	SELECT * FROM WORK_CHART WHERE PROJECT_NO = #{projectNo}
  	</select>
  	<insert id="insertChart">
  		INSERT INTO WORK_CHART VALUES(
  			#{projectNo},
  			#{memNum},
  			#{projectWriter},
  			#{wpRate}
  		)
  	</insert>
  	<update id="updateChart">
  		UPDATE WORK_CHART
  		SET WP_RATE = #{wpRate} 
  		WHERE PROJECT_NO = #{projectNo} AND MEM_NUM = #{memNum}
  	</update>
  	
  	<update id="updateProject">
  		UPDATE PROJECT
  		SET  PROJECT_TITLE = #{projectTitle}
  		 	,P_START_DATE = #{pStartDate}
  		 	,P_END_DATE = #{pEndDate}
  		 	,PROJECT_CONTENT = #{projectContent}
  		 WHERE PROJECT_NO = #{projectNo}
  	</update>
  	
  	<delete id="deleteProject">
  		DELETE FROM PROJECT WHERE PROJECT_NO = #{projectNo}
  	</delete>
  	<delete id="deleteParticipant">
  		DELETE FROM PARTICIPANT WHERE PROJECT_NO =  #{projectNo}
  	</delete>
  	<!-- 홈 - 프로젝트 관리 -->
  	<select id="selectListHome" resultMap="projectResultMap">
  		SELECT DISTINCT(PROJECT_NO), PROJECT_TITLE, MEMBER_NAME, P_START_DATE, P_END_DATE, P_STATUS FROM PROJECT JOIN PARTICIPANT USING(PROJECT_NO) JOIN MEMBER ON PROJECT_MADE = MEMBER_NUM WHERE (PROJECT_MADE = #{memberNum} OR MEM_NUM = #{memberNum}) AND P_STATUS = 'Y' ORDER BY PROJECT_NO DESC
  	</select>
  </mapper>