<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="WeekMapper">
 	<resultMap type="Week" id="weekResultMap">
 		<id  	 property="wrNo"      	  column="WR_NO"/>
 		<result  property="memNum"        column="MEM_NUM"/>
 		<result  property="wrTitle"       column="WR_TITLE"/>
 		<result  property="wrWriter"      column="WR_WRITER"/>
 		<result  property="wrTerm"        column="WR_TERM"/>
 		<result  property="wrDate"     column="WR_DATE"/>
 		<result  property="wrContent"  column="WR_CONTENT"/>
 		<result  property="wrNote"        column="WR_NOTE"/>
 		<result  property="fileName"      column="FILE_NAME"/>
 		<result  property="filePath"      column="FILE_PATH"/>
 		<result  property="fileReName"    column="FILE_RENAME"/>
 </resultMap>
 
