@charset "UTF-8";
#newProjectbtn{
    padding: 15px 30px;
    border-radius: 5px;
    background: white;
    border: 1px solid rgb(51, 51, 51);
    font-size: medium;
    margin: 0 28px;
    margin-bottom: 13px;
}
#h-title {
	margin-top: 25px;
	margin-bottom: 5px;
}
.t-List{
	width: 1350px;
	margin: 20px 0;
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	border-top: 2px solid rgb(200, 200, 200);
	border-bottom: 2px solid rgb(200, 200, 200);
}
.t-List tr {
	border-top: 1px solid rgb(200, 200, 200);
	height: 45px;
}
.t-List th {
	background-color: rgb(240, 240, 240);
}
.t-List a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.t-List .th-1{
	width: 10%;
}
.t-List .th-2{
	width: 15%;
}
.t-List span{
	padding: 5px 10px;
    border-radius: 4px;
    border: 1px;
    color: white;
}
.status-Y{
	background-color: #a6c76c;
}
.status-N{
	background-color: #ff616b;
}

.l-search {
	display: flex;
	height:40px;
	margin-bottom: 10px;
	float: right;
}
.l-search form{
	display: inline-flex;
}
.l-select {
	height: 40px;
	width: 80px;
	border-radius: 4px;
	border: solid 1px rgb(190, 190, 190);
	margin-right: 5px;
	text-align: center;
}
.l-input {
	display: flex;
	height: 38px;
	width: 170px;
	border-radius: 4px;
	border: solid 1px rgb(190, 190, 190);
}
.l-text {
	display: inline-flex;
	width: 137px;
	border: none;
}
.i-search{
	display: inline-flex;
    width: 33px;
    justify-content: center;
    font-size: 17px;
    font-family: FontAwesome;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(51, 51, 51);
}
.paging {
		display: inline-flex;
		height: 40px;
		width: 840px;
		margin-left: 253px;
		justify-content: center;
	}
	.page-btn {
		width: 40px;
		height: 40px;
		border: none;
		background-color: transparent;
		font-size: 14px;
		margin: 0 5px;
		cursor: pointer;
	}
	.page-btn:hover, .page-btn.active {
		border: 1px solid rgb(51, 51, 51);
		border-radius: 4px;
	}